.venv/
venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
*.sqlite3

.env
.env.*
database.cnf
local_settings.py

media/
staticfiles/

*.log
runserver.err
runserver.err.log
runserver.log

.idea/
.vscode/

.DS_Store
Thumbs.db